#infowindow
  %header
    .coordinates
      .latitude
        = point.latitude
      .longitude
        = point.longitude
    .address
      %h5.address
        = point.address
  %h5
    Description:
    = point.description
