#infowindow
  %header
    .coordinates
      .latitude
        = point.latitude
      .longitude
        = point.longitude
    .address
      %h5.address
        = point.address
  %h5
    Description:
  .thumbnail
    %p
      = point.description
  %p.actions
    %a{ :href=>"#", :class=>"btn btn-primary"}
      Action
    %a{ :href=>"#", :class=>"btn"}
      Action
